{% extends 'base.html' %}
{% block title %} SeedStars Challenge|Add {% endblock %}
{% block extra_style %}
    <style>
        form {
            margin-top: 20px;
        }
    </style>
{% endblock %}
{% block body-content %}
    <form action="{{ request.path }}" method="post"> {% csrf_token %}
        <div class="row">
            <div class="small-12">
                {{ form.non_field_errors }}
            </div>
        </div>
        <div class="row">
            <div class="small-12">
                {{ form.as_table }}
            </div>
        </div>
        <div class="row">
            <div class="small-12 text-center">
                <input class="button" type="submit" value="Save" />
            </div>
        </div>
    </form>
{% endblock %}