{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/foundation.css' %}">
    {% block extra_style %} {% endblock %}

    <script src="{% static 'js/vendor/modernizr.js' %}"></script>

    <title>{% block title %} SeedStars Challenge {% endblock %}</title>
</head>
<body>
    <nav class="top-bar" data-topbar role="navigation" data-options="sticky_on: large">
        <ul class="title-area">
            <li class="name">
                <h1><a href="{% url 'index' %}">SeedStars Challenge</a></h1>
            </li>
        </ul>
    </nav>

    {% if messages %}
        {% for message in messages %}
            <div data-alert class="alert-box {{ message.tags }} radius">
                {{ message }}
                <a href="#" class="close">&times;</a>
            </div>
        {% endfor %}
    {% endif %}

    {% block body-content %} {% endblock %}

    {# Foundatiom stuff #}
    <script src="{% static 'js/vendor/jquery.js' %}"></script>
    <script src="{% static 'js/foundation.min.js' %}"></script>
    <script>
        $(document).foundation();
    </script>
</body>
</html>