{% extends 'base.html' %}
{% block extra_style %}
    <style>
        .row {
            margin-top: 20px;
        }
    </style>
{% endblock %}
{% block body-content %}
    <div class="row">
        <div class="small-12 text-center">
            <a class="button" href="{% url 'list_addresses' %}">List email addresses</a>
            <a class="button" href="{% url 'add_addresses' %}">Add email address</a>
        </div>
    </div>
{% endblock %}