{% extends 'base.html' %}
{% block title %} SeedStars Challenge|List {% endblock %}
{% block extra_style %}
    <style>
        .row {
            margin-top: 20px;
        }
    </style>
{% endblock %}
{% block body-content %}
    <div class="row">
        <div class="small-12">
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tbody>
                    {% for address in addresses %}
                    <tr>
                        <td>{{ address.name }}</td>
                        <td>{{ address.email }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}